<p style="color: green"><%= notice %></p>

<main class="container">
  <%= link_to 'Back', root_path %>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Users</h1>
      <%= link_to "New user", new_user_path %>
    </div>
  <% end %>

    <%= render @users %>
</main>
